@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Gravitas+One&display=swap');

html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  .container{
      background-color: rgb(19, 87, 114,0.6);
      float: left;
      margin-left: 20px;
      width: 60%;
      
  }

  h2{
      color:white;
      font-family:'Gravitas One';
  }
  h4{
    color: white;
  }

  img{
    float: left;
    margin: 5px 20px 0 0;
  }

 li{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  p{
    color: black;
  }
  body{
    background-color: rgb(66, 55, 221);
    background-image: url(./Assets/backdrop.PNG);
    background-size: cover;
    
    position: relative;
    display: flex;
    flex-direction: column;
    

  }
  .footer {
    background-color: black;
    margin-top: 10px;
    width: 100%;
    margin-top: auto;
   
  }
  .navbar{
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar-brand{
   
    padding-left: 10px;
    padding-right: 10px;
    font-family:'Gravitas One';
    
    

    
  }
  

  .card-img-overlay{
    position: relative;
    top: auto;
    bottom: 0px;
  }
  .content{
    color: white;
  }

  #sticky-footer {
    flex-shrink: none;


  @media screen and (max-width: 768px){
    
  .container{
    width: 90%;
    padding: 20px; 
    }
 
  

  }

  @media screen and (max-width: 576px){
  .navbar-brand{
  font-size: smaller;
  }

    
  }

  
  
  

  